
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --second-back:yellow;
    --back-color:white;
    --text-color:black;
    --price-color:red;
    background-color: var(--text-color)
}
body{
    display: flex;
    justify-content: center;
    gap: 80px;
    

}
.one {
    background: var(--back-color);
    height: 100%;
}
.two {
    background: var(--second-back);
    height: 100%;
    
}
.im {
    width:170px;
    height: 200px;
    transform: rotate(-30deg);

}
.wrench {
    width: 350px;
    height: 434px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    position: relative;
    
    
}
.sale{ 
    position: absolute;
    right: 84.77%;
    bottom: 84.84%;
    width: 86px;
    height: 86px;
}
.img-sale{
    position: relative;
    width: 86px;
    height: 86px;
}
.prosent{
    position: absolute;
    color: aliceblue;
    width: 60px;
    height: 30px;
    bottom:35px ;
    left: 15px ;
    transform:rotate(-45deg);
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.wrench::before{
    color: white;
    font-family: 'Font Awesome 5 Free';
    content: "";
    position: absolute;
    bottom: 0;
    left:0px;
    width: 90px;
    height: 90px;
    background: var(--text-color);
    border-radius: 0px 10px 0px 0px;
}
.shop-bag{
    position: absolute;
    top: 340px;
    right: 265px;
}
.text{
    width: 290px;
    height: 98px;
    top: 210px;
    left: 30px;
      
}
span{
    color: var(--text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;


}
.kluch{
    display: flex;
    justify-content: center;
}
.inviz{
    line-height: 60px;
    opacity: 70%;
    font-size: 14px;
}
.old-price{
    text-decoration: line-through;
    color: gray;
    font-size: 18px;

}
.place{
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.price{
   color: red;
   font-size: 43px;
   letter-spacing: 0%;
   font-family:"Atkinson Hyperlegible Mono", serif ;
   font-optical-sizing: auto;
}
.prplace{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 30px;
}




